In [11]:
import pandas as pd
import numpy as np
All_Students_Results = pd.read_csv('C:\\Users\\USER\\Desktop\\NOUN\\DCS\\2021_2 RESULT\\Computer Science 2021_2\\M.Sc. Information Technology\\M.Sc. Information Technology -- Comprehensive Results.csv')
All_course_set= {'GST807','CIT843','CIT831','CIT841','CIT811','CIT853','CIT855','CIT891','CIT851','CIT802','CIT832','CIT854','CIT844','CIT852','CIT834','CIT803','CIT882','CIT899'}
elective_course_set= {'CIT841','CIT811','CIT855','CIT891','CIT832','CIT844','CIT882'}
compulsory_course_set ={'GST807','CIT843','CIT831','CIT853','CIT851','CIT802','CIT854','CIT852','CIT834','CIT803','CIT899'}
len(All_Students_Results)

7750

In [31]:
def regularize_course_codes(course):
    new_course=[]
    for n in range(len(course)):
        srt = course[n][3]
        n_course = course[n]
        if srt == "7" or srt == "6" :
            n_course = course[n][:3] + '8' + course[n][4:]
            new_course.append(n_course)
        else:
            new_course.append(n_course)
        
    return new_course
def generate_passedCourse_list(graded_course):
    passed_course_list = []
    for i in range(len(graded_course)):
        course= graded_course[i][0:6]
        passed_course_list.append(course)
    return passed_course_list

In [65]:
Output = pd.DataFrame(columns = ['Matric Number', 'Name', 'StudyCentre', 'Mobile Number', 'Entry Level','TCC', 'TCE', 'TGPE', 'CGPA', 'Passed Courses', 'Outstanding Courses', 'Failed Courses'])
All_Student_Passed_Courses_list = All_Students_Results['Passed Courses'].values.tolist()

for i in range(len(All_Students_Results)):
    if type(All_Students_Results['Passed Courses'][i]) != type(All_Students_Results['Passed Courses'][0]):
        Each_Student_Passed_Courses_list= All_Student_Passed_Courses_list[i].split(',')
        Each_Student_Passed_Courses_list =generate_passedCourse_list(Each_Student_Passed_Courses_list)
        Each_Student_Passed_Courses_list = regularize_course_codes(Each_Student_Passed_Courses_list)
        Each_Student_Passed_Courses_set = set(Each_Student_Passed_Courses_list)
        outstandings = All_course_set - Each_Student_Passed_Courses_set
        if All_Students_Results['CGPA'][i] == 2.50   :
            count_elective = 0
            count_comp = 0
            outstandings = list(outstandings)
            for g in range(len(outstandings)):
                if outstandings[g] in elective_course_set :
                    count_elective  =count_elective + 1
                elif outstandings[g] in compulsory_course_set :
                    count_comp = count_comp + 1
            if count_comp == 0 and count_elective > 0 :
                Output = Output.append({'Matric Number': All_Students_Results['Matric Number'][i], 'Name': All_Students_Results['Name'][i], 'StudyCentre': All_Students_Results['StudyCentre'][i], 'Mobile Number' : All_Students_Results['Mobile Number'][i], 'Entry Level': All_Students_Results['Entry Level'][i],'TCC' : All_Students_Results['TCC'][i], 'TCE': All_Students_Results['TCE'][i], 'TGPE': All_Students_Results['TGPE'][i], 'CGPA': All_Students_Results['CGPA'][i], 'Passed Courses': All_Students_Results['Passed Courses'][i], 'Outstanding Courses':outstandings, 'Failed Courses': All_Students_Results['Failed Courses'][i] },ignore_index=True)

In [66]:
Output

Empty DataFrame
Columns: [Matric Number, Name, StudyCentre, Mobile Number, Entry Level, TCC, TCE, TGPE, CGPA, Passed Courses, Outstanding Courses, Failed Courses]
Index: []

In [61]:
Output.to_csv('C:\\Users\\USER\\Desktop\\NOUN\\DCS\\2021_2 RESULT\\Computer Science 2021_2\\M.Sc. Information Technology\\lowcgpa.csv')